/* GLOBAL */
body {
    background-color: #F5F5F5;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color: #212121;
}

button {
    margin: 0;
    padding: 0;
    height: inherit;
    border: transparent;
    font-size: 1.2rem;
    background-color: transparent;
}

/* HEADER */
h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 6rem;
    text-transform: uppercase;
    color: #F48FB1;
    text-shadow: 1px 1px 1px #ffb3ba,
                 1.5px 1.3px 1px #ffdfba,
                 2px 1.6px 1px #ffffba,
                 2.5px 1.9px 1px #baffc9,
                 3px 2.2px 1px #bae1ff,
                 0 0 3px rgba(189,189,189 ,0.4);
}

/* MAIN */
main {
    margin: 0 auto;
    max-width: 25rem;
}

/* main header section */
section.controls {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    height: 3rem;
    min-height: 1rem; 
    border-radius: 0.2rem;
    background-color: rgba(254,254,254 ,1);
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 2px 2px 6px 1px rgba(189,189,189 ,0.2);
            box-shadow: 2px 2px 6px 1px rgba(189,189,189 ,0.2);
}

#entertodo {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: -0.05rem;
    font-size: 1rem;
    width: 22.02rem;
    height: inherit;
    min-height: 1rem;
    outline: 0;
    padding-left: 1rem;
    background: transparent;
    border: transparent;
    border-right: 1px solid rgba(245,245,245 ,0.5);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

button#add {
    position: relative;
    top: -0.05rem;
    width: 2.5rem;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* main list section */
ul {
    position: relative;
    top: 0.1rem;
    font-size: 0.9rem;
    margin: 0 auto;
    background-color: rgba(254,254,254 ,1);
    overflow: hidden;
    -webkit-box-shadow: 1px 2px 5px 1px rgba(189,189,189 ,0.2);
            box-shadow: 1px 2px 5px 1px rgba(189,189,189 ,0.2);
}

ul li {
    margin: 0;
    padding: 1rem 0;
    width: 25rem;
    position: relative;
    list-style: none;
    right: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(254,254,254 ,1);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
}

ul li.default {
    padding: 1rem 4rem;
    display: inline-block;
}

ul li > input.toggle {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    margin: 0;
}

ul li > span.change {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    margin: 0 0 0 0.8rem;
}

ul li > input[type="text"].change-input {
    border: 1px solid rgba(117, 117, 117,0.1);
    outline: 1px solid rgba(117, 117, 117,0.1);
    border-radius: 4px;
    width: 18rem;
    height: 1.5rem;
    padding-left: 1rem;
    font-size: inherit;
    font-family: 'Quicksand', sans-serif;
}

ul li > button.delete {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    position: absolute;
    right: 1rem;
    font-size: medium;
}
/* border below each li element */
div.border {
    position: relative;
    right: 2.5rem;
    width: 25rem;
    height: 4px;
    z-index: 2;
    background: repeating-linear-gradient(60deg, rgba(255,179,187,1) 0%,
                                                 rgba(255,179,187,1) 5%,
                                                 rgba(255,255,186,1) 5%,
                                                 rgba(255,255,186,1) 10%,
                                                 rgba(186,255,201,1) 10%,
                                                 rgba(186,255,201,1) 15%,
                                                 rgba(186,225,255,1) 15%,
                                                 rgba(186,225,255,1) 20%,
                                                 rgba(244,186,255,1) 20%,
                                                 rgba(244,186,255,1) 25%);
}

/* main footer section */
section.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    top: 0.1rem;
    height: 2rem;
    padding: 0 1rem;
    background-color: rgba(254,254,254 ,1);
    overflow: hidden;
    -webkit-box-shadow: 1px 2px 6px 1px rgba(189,189,189 ,0.2);
            box-shadow: 1px 2px 6px 1px rgba(189,189,189 ,0.2);
    z-index: 1;
}

h5 {
    text-align: center;
    color: #ccc9c9;
    letter-spacing: 0.05em;
}

/* FOOTER */
footer {
    position: relative;
    bottom: -6em;
}

footer > h6 {
    font-size: 0.8em;
    margin: 3.4em auto;
    text-align: center;
    letter-spacing: 0.05em;
}

footer > h6 svg {
    padding: 0 0.1em;
}

footer > h6 > svg.fa-heart {
    color: #f27ca5;
}

footer a,
footer a:visited {
    text-decoration: none;
    color: #212121;
}

footer a:hover {
    color: #f48eb1;
    text-decoration: underline;
}

/* ANIMATION CLASSES */
.position {
    z-index: 0;
}